body {
    font-family: "Roboto", sans-serif; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
/*-------------header-----------*/
.header-logo {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    color: var(--navyblue, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.16;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-logo-accent {
    color: var(--iris, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.16;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-menu-link {
    color: var(--navyblue, #2E2F42);
        /* Body Medium */
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.header-menu-link:hover {
    color: #404BBF;
}
.header-menu-link:focus {
    color: #404BBF;
}
.header-contact-list {

}
.header-contact-item {

}
.header-contact-link {
color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.header-contact-link:hover {
color: #404BBF;
}
.header-contact-link:focus {
    color: #404BBF;
}

/*-------------hero-----------*/
.hero {
background-color: #2E2F42;
}
.hero-title {
color: var(--white, #FFF);
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
}
.hero-btn {
border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
}
/*-------------goals-----------*/
.advantages {

}
.advantages-item {

}
.advantages-subtitle {
color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}
.advantages-item-text {
color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
/*-------------do-----------*/
.do {

}
.do-title {
color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.do-list {

}
.do-img {

}
/*-------------team-----------*/
.team {

}
.team-title {
color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {

}

.team-name {
color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}
.team-text {
color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
/*-------------team-----------*/
.footer {
 background-color: #2E2F42;   
}
.footer-logo {
color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo-accent {
color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
color: var(--cloud, #F4F4FD);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
/*-------------portfolio-----------*/
/*-------------filter-----------*/
.filter {
background-color: #F4F4FD;
}
.filter-btn-active {
    border-radius: 4px;
        background: var(--ocean, #404BBF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: var(--white, #FFF);
            text-align: center;
            /* Button Text */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
}
.filter-btn {
    border-radius: 4px;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--cloud, #F4F4FD);
        color: var(--iris, #4D5AE5);
            text-align: center;
            /* Button Text */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
}
/*-------------roweone-----------*/
.rowone {

}
.rowone-list {

}
.rowone-item {
border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}
.rowone-subtitle {
color: var(--navyblue, #2E2F42);

    /* Header 3 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}
.rowone-item-text {
color: var(--slate, #434455);

    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
/*-------------rowetwo-----------*/
